/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Default Styles 
--------------------------------------------------------------------*/

body {
	background: url('img/denim.png');
	font-family: 'Droid Sans', sans-serif;;
}

.clearfix {
	clear: both;
}

.wrap {
	width: 940px;
	margin: 4em auto;
}

nav {
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
	background-image: linear-gradient(#fff, #ccc);
	border-radius: 6px;
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
	padding: 0 10px;
	position: relative;
}

.menu li {
	float: left;
	position: relative;
}

.menu li a {
	color: #444;
	display: block;
	font-size: 14px;
	line-height: 20px;
	padding: 6px 12px;
	margin: 8px 8px;
	vertical-align: middle;
	text-decoration: none;
}

.menu li a:hover {
	background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
	background-image: linear-gradient(#ededed, #fff);
	border-radius: 12px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
	color: #222;
}

/* Dropdown styles */

.menu ul {
	position: absolute;
	left: -9999px;
	list-style: none;
	opacity: 0;
	transition: opacity 1s ease;
}

.menu ul li {
	float: none;
}

.menu ul a {
	white-space: nowrap;
}

/* Displays the dropdown on hover and moves back into position */
.menu li:hover ul {
	background: rgba(255,255,255,0.7);
	border-radius: 0 0 6px 6px;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.4);
	left: 5px;
	opacity: 1;
}

/* Persistant Hover State */
.menu li:hover a {
	background: -webkit-gradient(linear, center top, center bottom, from(#ccc), to(#ededed));
	background-image: linear-gradient(#ccc, #ededed);
	border-radius: 12px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
	color: #222;
}

.menu li:hover ul a {
	background: none;
	border-radius: 0;
	box-shadow: none;
}

.menu li:hover ul li a:hover {
	background: -webkit-gradient(linear, center top, center bottom, from(#eee), to(#fff));
	background-image: linear-gradient(#ededed, #fff);
	border-radius: 12px;
	box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.3);
}

/* Sticker */
#bottom {
    bottom: 0.5cm;
    right: 0.5cm;
    position: fixed;
}

.sticker {
	width: 2.5cm;
	height: 2.5cm;
}

.lasso .sticker-img {
	/*background-image: url(http://oi60.tinypic.com/2q2lkx0.jpg);*/
	background-image: url(Lasso_logo.jpg);
	background-size: 2.5cm 2.5cm;
}

/* change shadow opacity */
.lasso .sticker-shadow {
	opacity: 0.6;
}

/* Name div */
#name {
	color: white;
	border: 5px solid white;
	border-radius: 50px;
	line-height: 250px;
	height: 250px;
}

/* Slogan div */
#slogan {
	color: white;
	height: 100px;
}

.h1 {
	font-size: 48px;
	text-indent: 25px;
}

/* unvisited link */
a:link {
    color: silver;
}

/* visited link */
a:visited {
    color: peachpuff;
}

/* mouse over link */
a:hover {
    color: palevioletred;
}

/* selected link */
a:active {
    color: orchid;
}

.one_page {
	height: 100%;
}

.sup {
	position: relative;
	bottom: 1ex; 
	font-size: 80%;
}

.thumbnails img {
	border: 4px solid rgba(30,30,60,1);
	padding: 1px;
	margin: 0 10px 10px 0;
	height: 100%;
}

.thumbnails img:hover {
	border: 4px solid gold;
	cursor: pointer;
}

.button {
    display: inline-block;
    padding: 1em;
    background-color: rgb(30,30,40);
    text-decoration: none;
    color: white;
}

.button:link {
    color: lightgoldenrodyellow;
}

.button:visited {
    color: lightgoldenrodyellow;
}

.button:hover {
    color: gold;
}

.button:active {
    color: goldenrod;
}