@font-face {
  font-family: 'KnotFont';
    src: url("./fonts/KnotFont.eot");
    src: local('KnotFont'),
       /*url("fonts/knots/knots_stroke.svg#knots") format('svg'),*/
	   url("./fonts/KnotFont.otf") format('opentype');
}
@font-face {
  font-family: 'Tunic';
    src: url("./fonts/Tunic.eot");
    src: local('Tunic'),
	   url("./fonts/Tunic.otf") format('opentype');
}
@font-face {
  font-family: 'Sheikah';
    src: url("./fonts/Sheikah.eot");
    src: local('Sheikah'),
	   url("./fonts/Sheikah.otf") format('opentype');
}
@font-face {
  font-family: 'Hylian';
    src: url("./fonts/Hylian.eot");
    src: local('Hylian'),
	   url("./fonts/Hylian.otf") format('opentype');
}
@font-face {
  font-family: 'Gerudo';
    src: url("./fonts/Gerudo.eot");
    src: local('Gerudo'),
	   url("./fonts/Gerudo.otf") format('opentype');
}
@font-face {
	font-family: 'Fez';
	  src: url("./fonts/Fez.eot");
	  src: local('Fez'),
		 url("./fonts/Fez.otf") format('opentype');
}
@font-face {
font-family: 'Unown';
	src: url("./fonts/Unown.eot");
	src: local('Unown'),
		url("./fonts/Unown.otf") format('opentype');
}
	
.knots {
	color: inherit;
	font-family: "KnotFont";
	font-size: 150px;
	line-height: 150px;
	vertical-align: middle;
	-webkit-transition: all 1s;
	transition: all 1s;
	cursor: default;
}

.sheikah {
	color: inherit;
	font-family: "Sheikah";
	vertical-align: middle;
}
.hylian {
	color: inherit;
	font-family: "Hylian";
	vertical-align: middle;
}
.gerudo {
	color: inherit;
	font-family: "Gerudo";
	vertical-align: middle;
}
.fez {
	color: inherit;
	font-family: "Fez";
	vertical-align: middle;
}
.tunic {
	color: inherit;
	font-family: "Tunic";
	vertical-align: middle;
}
.unown {
	color: inherit;
	font-family: "Unown";
	vertical-align: middle;
}

.column .knots {
	color: white;
	text-shadow: -1px 0 black, 1px 0 black, 0 -1px black, 0 1px black;
}

.column .knots:hover {
	color: black;
	text-shadow: -1px 0 white, 1px 0 white, 0 -1px white, 0 1px white;
}

.knots.name:before { content: 'A'; }
.knots.me:before { content: 'B'; }
.knots.lasso:before { content: 'C'; }
.knots.k0c1:before { content: "k0c1"; }
.knots.k3c1:before { content: "k3c1"; }
.knots.k4c1:before { content: "k4c1"; }
.knots.k5c1:before { content: "k5c1"; }
.knots.k5c2:before { content: "k5c2"; }
.knots.k6c1:before { content: "k6c1"; }
.knots.k6c2:before { content: "k6c2"; }
.knots.k6c3:before { content: "k6c3"; }
.knots.k7c1:before { content: "k7c1"; }
.knots.k7c2:before { content: "k7c2"; }
.knots.k7c3:before { content: "k7c3"; }
.knots.k7c4:before { content: "k7c4"; }
.knots.k7c5:before { content: "k7c5"; }
.knots.k7c6:before { content: "k7c6"; }
.knots.k7c7:before { content: "k7c7"; }
.knots.k8c1:before { content: "k8c1"; }
